.skillBlock {
  background-color : var(--DT-secondaryColor);
  padding:0.2rem 1.5rem;
  margin: 0.4rem 1rem;
  border-radius: 500px;
  flex: 0 1 auto;
}
.text {
  color : var(--DT-lightColor);
  margin: 0;
  font-size:12pt;
}


@media (max-width : 1350px) {
  #intro {
    width:60%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

/* for ipad pro */
@media only screen and (max-width : 1024px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

/* for iphone */
@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 378px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

