.aboutMe {
  background-color: white;
  height: 1000px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


@media (max-width : 1250px) {
  #intro {
    width:60%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

/* for ipad pro */
@media only screen and (max-width : 1024px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

/* for iphone */
@media only screen and (max-width : 768px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

@media only screen and (max-width : 378px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

