.projectContainer {
  position: relative;
  background-color: var(--DT-darkerBgColor);
  /* z-index: 1; */

}
.project {
  /* background-color: var(--DT-darkerBgColor); */
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width:60%;
  margin:2rem auto;
  margin-bottom: 0;
  height: 1800px;

}
.bgTitle {
  margin: 0;
  text-align: right;
  font-size: 180pt;
  bottom: 0px;
  position: absolute;
  right:1px;
  font-weight: 700;
  padding: 0;
  line-height: 250px;
  color: var(--DT-darkBgColor);
  /* z-index: -1; */
    /* background-color: rgb(233, 179, 179); */
}

@media (max-width : 1350px) {
  .project {
    width:80%;
  }
}

/* for ipad pro */
@media only screen and (max-width : 1024px) {
  .bgTitle {
    font-size:140pt;
  }
}

/* for iphone */
@media only screen and (max-width : 768px) {
  .projectContainer {
    width: 100%;
  }
  .project {
    width:90%;
  }
  .bgTitle {
    font-size:100pt;
  }
}

@media only screen and (max-width : 500px) {
  .projectContainer {
    width: 100%;
    height: 150%;
  }
  .project {
    width:90%;
    height: 100%;
    padding: 6rem 0;
    margin: 0 auto;
  }
  .bgTitle {
    font-size:60pt;
    line-height: 60pt;
  }
}