.projectContainer {
  position: relative;
  background-color: var(--DT-darkerBgColor);
}
.project {
  background-color: var(--DT-darkerBgColor);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width:70%;
  margin:2rem auto;
  height: 2500px;

}
.bgTitle {
  margin: 0;
  text-align: right;
  font-size: 180pt;
  bottom: 0px;
  position: absolute;
  right:1px;
  font-weight: 700;
  padding: 0;
  z-index: -2;
  line-height: 250px;
  color: var(--DT-lightColor);
    /* background-color: rgb(233, 179, 179); */
}













@media (max-width : 1250px) {
  #intro {
    width:60%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
  .bgTitle{
    font-size:150pt;
  }
}

/* for ipad pro */
@media only screen and (max-width : 1024px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

/* for iphone */
@media only screen and (max-width : 768px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

@media only screen and (max-width : 378px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

