.skillset {
  display: flex;
  flex-flow: row nowrap;
  width:60%;
  margin: 2rem auto;
  /* border: 1px solid black; */
}
.skillsetTitle {
  font-weight: 700;
  text-transform: uppercase;
  width:20%;
  height: 40%;
}
.title {
  color: var(--DT-highlightColor)!important;
  text-align: left;
  font-size: 25pt;
  padding:0;
  margin:0 1rem 0 0;
}
.skillContainer{
  flex:1 1 auto;
  width:40%;
  color: var(--DT-darkerBgColor);
  padding: 0 1rem;
  border-left: 2px solid var(--DT-highlightColor);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: space-between;
}
.tech,.soft {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  /* border: 1px solid black; */
}
.tech {
  margin-bottom: 1rem;
}
.soft {
  margin-top: 1rem;
}
.techTitle, .softTitle {
  font-size: 16pt;
  margin: 0 1rem;
  text-align: left;
}
.techContainer, .softContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top:0.2rem;
}
.resumeContainer {
  align-self:flex-end;
  width:30%;
  margin: 0.5rem;
  
}
#resumeBtn {
  background-color: var(--DT-darkerBgColor);
  color: var(--DT-secondaryColor);
  border: none;
  padding: 0.6rem 1.8rem;
  font-size: 12pt;
  font-weight: 800;
  box-shadow: 5px 5px 5px black;
  min-width: 160px;
  transition: transform .5s;
}
#resumeBtn:focus {
  outline: none;
}
#resumeBtn:hover {
  background-color: var(--DT-darkBgColor);
  transform: scale(1.1);
}




@media (max-width : 1350px) {
  .skillset {
    width:80%;
  }
}

/* for ipad pro */
@media only screen and (max-width : 1024px) {
}

/* for iphone */
@media only screen and (max-width : 768px) {
  .skillset {
    width:90%;
    flex-flow: column nowrap;
  }
  .skillsetTitle,.skillContainer {
    width: 100%;
    margin:1rem;
  }

}

@media only screen and (max-width : 450px) {
  .techTitle, .softTitle {
    font-size:12pt;
  }
}

