.ProjectCard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 6rem auto;
  color: var(--DT-secondaryColor);
  font-size: 12pt;

}
.imgContainer {
  position: relative;
  width: 50%;
}
.projectSS {
  width: 120%;
  height: auto;
  z-index: -1;
}
.overlay {
  position: absolute;
  width:120%;
  height:101%;
  transition: all 0.3s ease-out;
  background-color: var(--DT-darkBgColor);
  top:0;
  opacity: 0.95;
}
.projectTitleOverlay {
  display: none;
}
.imgContainer:hover .overlay {
  opacity: 0;
}
.descriptionContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width:70%;
  position: relative;
  flex: 0 1 auto; 
}
.projectDescription {
  position: relative;
  width:100%;
  background-color: var(--DT-darkBgColor);
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
}
.leftContainer {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
  align-items: space-between;
  justify-content: space-between;
  border-right: 1px solid var(--DT-highlightColor);
}
.description {
  margin: 0.5rem;
  margin-top: 0;
  text-align: justify;
  /* line-height: 110%; */

}
.listOfTech {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
  width:100%;
  padding: 0;
  margin: 2rem 0.5rem 0 0.5rem;
  /* margin-top: 2rem;
  margin-bottom: 0; */
}
.eachTech {
  font-size: 8pt;
  margin: 0.2rem ;
  padding: 0.2rem 0.5rem;
  min-width: 15%;
  text-align: left;
  border-left: 1px solid var(--DT-highlightColor);

}
.rightContainer {
  flex: 0 1 auto;
  width: 30%;
  display : flex;
  flex-flow : column nowrap;
  text-align : left;
  justify-content: space-between;

  margin: 0 0.5rem;
}
.number {
  font-size : 20pt;
  color: var(--DT-highlightColor);
  font-weight: 700;
  margin-bottom: 0.1rem;
}
.partner, .partnerLink,.date {
  font-size : 8pt;
  color: var(--DT-secondaryColor)!important;
  margin: 0;
}
.projectTitle {
  font-size:16pt;
  color: var(--DT-primaryColor)!important;
  font-weight: 700;
  justify-self: start; 
}
.partnerLink:hover {
  color: var(--DT-highlightColor)!important;
}
.date {
  margin-top: auto;
}
.linkContainer {
  margin-left:70%;
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
.LaunchIcon,.GitHubIcon {
  color:var(--DT-secondaryColor)!important;
  margin-right: 20px;
  transition: transform .5s!important;
}
.LaunchIcon:hover,.GitHubIcon:hover {
  fill: var(--DT-highlightColor)!important;
  transform: scale(1.2);
}

@media (max-width : 1350px) {
}

/* for ipad pro */
@media only screen and (max-width : 1024px) {
}

/* for iphone */
@media only screen and (max-width : 768px) {
  .projectTitle {
    font-size:12pt;
    margin:0.2rem;
  }
}

@media only screen and (max-width : 500px) {
  .projectTitle {
    font-size:16pt;
    margin-right:0.5rem;
    flex: 1 0 auto;
    display: none;
  }
  .ProjectCard {
    flex-flow: column nowrap;
    margin: 3rem auto;
    font-size: 12pt;
  }
  .description {
    margin: 0;
  }
  .number {
    margin-top: auto;
    margin-bottom: 0;
  }
  .imgContainer ,
  .projectSS,
  .descriptionContainer,
  .rightContainer,
  .leftContainer,
  .linkContainer {
    width:100%;
  }

  .overlay {
    position: absolute;
    width:101%;
    height:101%;
    background-color: var(--DT-darkBgColor);
    z-index: 2;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projectTitleOverlay {
    font-size: 25pt;
    color: var(--DT-primaryColor)!important;
    font-weight: 700;
  }
  .projectDescription {
    flex-flow: column nowrap;
  }
  .rightContainer {
    order: -1;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0; 
  }
  .leftContainer {
    border: none;
    border-top : 1px solid var(--DT-highlightColor);
    margin: 0.5rem 0;
  }
  .partner,.partnerLink,.date {
    font-size: 6pt;
  }
  .linkContainer {
    margin:0.5rem;
    align-items: flex-end;
    justify-content: flex-end;
  }

}

