.introContainer {
  border: 1px solid black;
  width: 100%;
  height: 550px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: var(--DT-darkBgColor);
}
.introductionCard {
  margin:0 auto;
  position: relative;
  bottom: -40px;
  width:60%;
  height: 500px;
  background-color: var(--DT-darkerBgColor);
  box-shadow: 20px 20px 10px black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.leftBar {
  width: 20%;
  height:40%;
  border-right: 10px solid var(--DT-highlightColor)
}

.contentContainer {
  height:85%;
  flex: 1 0 auto;
  width:75%;
  padding-left: 4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items:flex-start;
  border-left: 1px solid var(--DT-highlightColor);
}
#hi {
  margin-top: 3rem;
  font-size: 30pt;
  text-align: left;
  color: var(--DT-highlightColor)
}
#afterHi, #designBG {
  color: var(--DT-secondaryColor)
}
#largeTitle {
  font-size: 60pt;
  font-weight: 700;
  line-height: 4rem;
  color: var(--DT-primaryColor)
}
#intro {
  text-align: left;
  font-size: 14pt;
  width: 50%;
  color: var(--DT-secondaryColor);
  margin:0;
}
@media (max-width : 1250px) {
  #intro {
    width:60%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

/* for ipad pro */
@media only screen and (max-width : 1024px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

/* for iphone */
@media only screen and (max-width : 768px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

@media only screen and (max-width : 378px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

