.aboutContainer {
  position: relative;
  padding-top: 5rem;

  /* background-color: rgb(233, 179, 179); */
}
.about {
  /* background-color: white; */
  height: 1000px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid black; */
  margin-top:5rem;

}
.bgTitle {
  margin: 0;
  text-align: right;
  font-size: 190pt;
  bottom: 0px;
  position: absolute;
  right:1px;
  font-weight: 700;
  padding: 0;
  z-index: -2;
  line-height: 90%;
  color: var(--DT-lightColor);
    /* background-color: rgb(233, 179, 179); */
}

@media (max-width : 1350px) {
  #intro {
    width: 80%;
  }
}

/* for ipad pro */
@media only screen and (max-width : 1024px) {
  .bgTitle {
    font-size: 140pt;
  }
}

/* for iphone */
@media only screen and (max-width : 768px) {
  .about {
    min-height: 1200px;
    justify-content: center;
  }
  .bgTitle {
    font-size: 100pt;
    line-height: 80%;
  }
}

@media only screen and (max-width : 500px) {
  .bgTitle {
    font-size: 60pt;
    line-height: 60pt;
  }
}