.aboutMe {
  display: flex;
  flex-flow: row nowrap;
  width:60%;
  /* border: 1px solid black; */
  margin: 2rem auto;
}
.aboutMeTitle {
  font-weight: 700;
  text-transform: uppercase;
  width:20%;
  height: 40%;

  /* border: 1px solid black; */
}
.title {
  color: var(--DT-highlightColor)!important;
  text-align: left;
  font-size: 25pt;
  padding:0;
  margin:0 1rem 0 0;
}
.aboutMeDescription {
  
  flex:1 1 auto;
  width:40%;
  color: var(--DT-darkerBgColor);
  /* border: 1px solid black; */
  padding: 0 1rem;
  border-left: 2px solid var(--DT-highlightColor);
}
.description {
  margin: 0;
  margin: 0 1rem;
  line-height: 1.3rem;;
  text-align: justify;
  text-justify: auto;
}
.aboutMeProfile {
  align-self:center;
  width:30%;
  height: auto;
  border-radius: 50%;
  /* border: 1px solid black; */
}
.profilePic {
  width:95%;
  height:auto;
  border-radius: 50%;
  box-shadow: 10px 10px 10px black;
}

@media (max-width : 1350px) {
  .aboutMe {
    width:80%;
  }
}

/* for ipad pro */
@media only screen and (max-width : 1024px) {

}

/* for iphone */
@media only screen and (max-width : 768px) {
  .aboutMe {
    width:90%;
  }
}

@media only screen and (max-width : 378px) {
  #intro {
    width:80%;
  }
  #largeTitle {
    font-size:40pt;
  }
  #hi {
    font-size:20pt;
  }
}

