:root {
  /* darktheme */
  --DT-darkBgColor: #121419;
  --DT-darkerBgColor : #1B1F26;
  --DT-highlightColor :#FFB633;
  --DT-secondaryColor :#666666;
  --DT-primaryColor : #E6E6E6;
  --DT-lightColor : #F2F2F2;
  --font: 'Segoe UI', 'Roboto',sans-serif;
}
html {
  height: 100%;
}

body {
  height: 100%;
  /* background-color : var(--DT-darkBgColor)!important; */
  margin: 0;
  font-family: 'Segoe UI', 'Roboto',sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
